/* Article Card */
.article-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-card__actions {
  display: flex;
  gap: 0.5rem;
}

/* Article */
.article__cover {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
