.input,
.select {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: fit-content;
  width: 100%;
}

.input__icon {
  height: 1.5em;
}

.input__container,
.select__input {
  border: 1px solid var(--gray-200);
  padding: 0.5em 0.75em;
  border-radius: 0.375em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: white;
  width: 100%;
}

.select__input:hover {
  cursor: pointer;
}

.checkbox label,
.radio-button label {
  cursor: pointer;
  text-align: left;
}

.input__content {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

.input__content:focus {
  outline: none;
}

.input__content::placeholder {
  color: var(--gray-200);
}

.input__container:focus-within {
  box-shadow: var(--shadow-input-primary);
  border: 1px solid var(--primary-300);
}

.input--error .input__container:focus-within {
  box-shadow: var(--shadow-input-error);
}

.input--error .input__container,
.select--error .select__input {
  border: 1px solid var(--error-300);
}

.input--error .input__content::placeholder {
  color: var(--error-100);
}

.input__help-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-300);
}

.input__error-message,
.select__error-message {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--error-300);
}

.select__input:focus {
  box-shadow: var(--shadow-input-primary);
  border: 1px solid var(--primary-300);
  outline: none;
}

.select__input {
  appearance: none;
  padding-right: 36px;
  background-image: url(./icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 8px);
}

.select--error .select__input {
  color: var(--error-300);
}

.select--error .select__input:focus {
  box-shadow: var(--shadow-input-error);
  border: 1px solid var(--error-300);
}

/* Radio Button & Checkbox */

.radio-button,
.checkbox {
  display: flex;
  gap: 8px;
}

.radio-button__text-container,
.checkbox__text-container {
  display: flex;
  flex-direction: column;
}

.radio-button__input,
.checkbox__input {
  width: 16px;
  height: 16px;
  margin: 2px;
  appearance: none;
  border: 1px solid var(--gray-200);
  border-radius: 50px;
}

.radio-button__input:hover,
.checkbox__input:hover {
  cursor: pointer;
}

.radio-button__help-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-300);
}

.checkbox__input {
  border-radius: 4px;
}

.radio-button__input:checked {
  border: 4px solid var(--primary-300);
  animation: radio-tick 200ms ease-in;
}

@keyframes radio-tick {
  from {
    border: 1px solid var(--primary-300);
  }
  50% {
    border: 8px solid var(--primary-300);
  }
  to {
    border: 4px solid var(--primary-300);
  }
}

.checkbox__input:checked {
  animation: tick 250ms ease-in forwards;
  background-color: var(--primary-300);
  border: 1px solid var(--primary-300);
  background-image: url(./icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes tick {
  from {
    border: 1px solid var(--gray-200);
    background-color: transparent;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.radio-button__input:focus,
.checkbox__input:focus {
  outline: 0;
  box-shadow: var(--shadow-button--primary);

  /* outline: 2px solid var(--primary-300);
  outline-offset: 2px; */
}

/* .checkbox__input:active {
  box-shadow: none;
} */

.radio-button__opt-group,
.checkbox__opt-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-button__opt-group--horizontal,
.checkbox__opt-group--horizontal {
  flex-direction: row;
}
